
lab1- lvl0/task 1/task 1/Debug/
lab1- lvl0/task 1/Debug/

lab1- lvl0/task 1/\.vs/

lab1/

lab1- lvl0/task 1/task 1/pch\.cpp

lab1- lvl0/task 1/task 1/pch\.h

lab1- lvl0/task 1/task 1/task 1\.vcxproj

lab1- lvl0/task 1/task 1/task 1\.vcxproj\.filters

lab1- lvl0/task2/\.vs/

lab1- lvl0/task2/Debug/

lab1- lvl0/task3/\.vs/

lab1- lvl0/task3/Debug/

lab1- lvl0/task4/\.vs/

lab1- lvl0/task4/Debug/

lab1- lvl0/task4/lab01-01/Debug/

lab1- lvl0/task3/task3/Debug/

lab1- lvl0/task2/task2/Debug/

lab1-lvl1/lab01-01/\.vs/

lab1-lvl1/lab01-01/Debug/

lab1-lvl1/lab01-01/lab01-01/Debug/

lab1-lvl1/lab01-02/\.vs/

lab1-lvl1/lab01-02/Debug/

lab1-lvl1/lab01-02/lab01-02/Debug/

lab1-lvl1/lab01-02/lab01-02/x64/

lab1-lvl1/lab01-02/x64/

lab1-lvl1/lab01-03/\.vs/

lab1-lvl1/lab01-03/Debug/

lab1-lvl1/lab01-03/lab01-03/Debug/

lab1-lvl1/lab01-04/\.vs/

lab1-lvl1/lab01-04/Debug/

lab1-lvl1/lab01-04/lab01-04/Debug/


lab1- lvl0/\.vs/

lab1- lvl0/Debug/

lab1- lvl0/Task1/\.vs/

lab1- lvl0/Task1/Debug/

*.user

lab02 - lvl0/task1/\.vs/

lab01-lvl01/\.vs/

lab01-lvl01/task1/lab01-lvl01\.cpp

lab02 - lvl0/task1/Debug/

lab02 - lvl0/task1/task1/Debug/

lab01- lvl0/Debug/

lab01- lvl0/Task1/Debug/

lab01- lvl0/\.vs/

lab01- lvl0/Task2/Debug/

lab01- lvl0/Task4/Debug/

lab01- lvl0/Task3/Debug/

lab01- lvl0/

lab02 - lvl0/task 2/Debug/

lab02 - lvl0/task 2/\.vs/

lab02 - lvl0/task 2/task 2/Debug/

lab02 - lvl0/task 3/Debug/

lab02 - lvl0/task 3/\.vs/

lab02 - lvl0/task 3/task 3/Debug/

lab02 - lvl0/task 4/Debug/

lab02 - lvl0/task 4/\.vs/

lab02 - lvl0/task 4/task 4/Debug/

lab02-lvl01/task1/Debug/

lab02-lvl01/task1/\.vs/

lab02-lvl01/task1/task1/Debug/

lab02 - lvl0/lab01-lvl0/task 2/Debug/

lab02 - lvl0/lab01-lvl0/Debug/

lab02 - lvl0/lab01-lvl0/\.vs/

lab02-lvl01/task2/Debug/

lab02-lvl01/task2/\.vs/

lab02-lvl01/task2/task2/Debug/
